src/app/code/local/Godfreys/Partsfinder/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
        </schema>
    </types>
    <message name="partsfinderUpsertRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="jsonString" type="xsd:string" />
    </message>
    <message name="partsfinderUpsertResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="partsfinderRemoveRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="jsonString" type="xsd:string" />
    </message>
    <message name="partsfinderRemoveResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="partsfinderListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="jsonString" type="xsd:string" />
    </message>
    <message name="partsfinderListResponse">
        <part name="result" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
	    <operation name="partsfinderUpsert">
		    <documentation>Update or insert relation</documentation>
		   	<input message="typens:partsfinderUpsertRequest" />
		   	<output message="typens:partsfinderUpsertResponse" />
	    </operation>
	    <operation name="partsfinderRemove">
		    <documentation>Remove relation</documentation>
		   	<input message="typens:partsfinderRemoveRequest" />
		   	<output message="typens:partsfinderRemoveResponse" />
	    </operation>
	    <operation name="partsfinderList">
	    	<documentation>Retrieve list</documentation>
	    	<input message="typens:partsfinderListRequest" />
	    	<output message="typens:partsfinderListResponse" />
	    </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="partsfinderUpsert">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="partsfinderRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="partsfinderList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
